.container-home {
  padding: 0px;
}

header {
  background-image: linear-gradient(to right, #008FB1, #00C8F8, #008FB1);
  position: fixed;
  width: 100%;
  height: 90px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

header .logo i {
  font-size: 1.8em;
  margin-right: 10px;
}

header .logo h1 {
  font-size: 2.3em;
}

header .menu {
  margin-right: 50px;
}

header .menu a {
  color: #fff;
  font-size: 1.1em;
  margin-right: 25px;
  transition: opacity 0.2s;
}

header .menu a:hover {
  opacity: 0.6;
}

/* MEDIA QUERIES ============== */
@media (max-width: 1000px) {
  header {
    height: 115px;
    flex-direction: column;
    justify-content: center;
  }

  header .logo {
    margin-left: 0px;
  }

  header .menu {
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  header .logo i {
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  header .logo h1 {
    font-size: 1.8em;
  }
  
  header .menu {
    margin-top: 8px;
  }

  header .menu a {
    font-size: 0.9em;
    font-weight: 500;
    margin-right: 10px;
  }
}