.about {
  padding-top: 3%;
  min-height: 100vh;
  background-image: linear-gradient(to right, #ddd, #fafafa, #ddd);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .images-about-container {
  margin-bottom: 5%;
  margin-top: 2%;

  display: flex;
  align-items: center;
}

.about .images-about-container .image-about {
  margin-right: 75px;
  margin-left: 75px;
  cursor: pointer;


  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.about .images-about-container .image-about:hover {
  margin-top: -35px;
}

.about .images-about-container .image-about img {
  width: 400px;
  height: 300px;
  border-radius: 22px;

  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.about .images-about-container .image-about span {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 10px;
}

.about p {
  text-align: center;
  font-size: 1.2em;
  width: 85%;
  margin-top: 5%;
  margin-bottom: 5%;
}