.container-home .home {
  background-image: url('../../img/background-home.png');
  background-repeat: repeat-y;
  background-size: 100%;
  color: #fff;
  min-height: 100vh;

  background-color: #0E0908;
}

.container-home .home h2 {
  font-size: 5em;
  margin-top: 15%;
  margin-bottom: 2%;
}

.container-home .home h4 {
  font-size: 1.8em;
  font-weight: 200;
}

@media (max-width: 1200px) {
  .container-home .home {
    min-height: 70vh;
  }
  
  .container-home .home h2 {
    font-size: 4em;
    margin-top: 18%;
  }

  .container-home .home h4 {
    font-size: 1.3em;
  }
}

@media (max-width: 840px) {
  .container-home .home {
    min-height: 50vh;
  }
  
  .container-home .home h2 {
    font-size: 3em;
    margin-top: 25%;
  }

  .container-home .home h4 {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .container-home .home {
    min-height: 35vh;
  }
  
  .container-home .home h2 {
    font-size: 2em;
    margin-top: 35%;
  }

  .container-home .home h4 {
    font-size: 0.9em;
  }
}