.container-home {
  background-image: url('../../img/background-home.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}

.container-home .home {
  margin-top: 10%;
  color: #fff;
}

.container-home .home h2 {
  font-size: 4em;
  margin-bottom: 2%;
}

.container-home .home h4 {
  font-size: 1.8em;
  font-weight: 200;
}