.services {
  padding-top: 3%;
  min-height: 60vh;
  background-image: linear-gradient(to right, #151515, #252525, #151515);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .title-section {
  color: #00B8E4;
}

/* FORM ====================== */
.services form {
  align-self: center;
  margin-top: 2%;

  display: flex;
  align-items: center;
}

.services form .form-group {
  margin-right: 45px;
}

.services form .form-group label {
  color: #fff;
  font-size: 1.1em;
}

.services form button {
  width: 150px;
  align-self: flex-end;
}

.services form button:hover {
  background-color: #fff;
  color: #00B8E4;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.4);
}

/* CARDS ================ */
.services .list-rooms {
  margin-top: 3%;
  margin-bottom: 10%;
}

.services .list-rooms .card {
  background-image: linear-gradient(to right, #ddd, #fff, #ddd);
  width: 420px;
  padding: 20px;
  border-radius: 6px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 75px;
  transition: box-shadow 0.3s ease-in;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services .list-rooms .card img {
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.services .list-rooms .card .card-info .status-room {
  font-weight: 600;
}

.services .list-rooms .card .card-info ul {
  margin-top: 20px;
  margin-bottom: 35px;
}

.services .list-rooms .card .card-info button {
  font-size: 16px;
  height: 45px;
}

.services .list-rooms .card .card-info button.cancel {
  background: #DD3B4A;
  color: #fff;
  margin-left: 10px;
}

.services .list-rooms .card .card-info button.cancel:hover {
  background: #fff;
  color: #DD3B4A;
}

/* ACTIVE OR NOT ========= */
.services .list-rooms .card.available .status-room {
  color: #0F8B51;
}

.services .list-rooms .card.disable .status-room {
  color: #DD3B4A;
}

.services .list-rooms .card.reserved button {
  background-color: #439D73;
}

.services .list-rooms .card.disable button {
  background-color: #888;
  cursor: not-allowed;
}

/* SHOW OR NOT LIST ROOMS ============= */
.services .list-rooms.show-list-rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services .list-rooms.close-list-room {
  display: none;
}

.services .list-rooms .card .card-info button.cancel {
  display: none;
}

/* MEDIA QUERIES ============== */
@media (max-width: 1100px) {
  .services form {
    width: 75%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12%;
  }

  .services form .form-group {
    width: 100%;
    margin-right: 0px;
    margin-top: 25px;
  }

  .services form input {
    width: 100%;
  }

  .services form button {
    width: 100%;
    margin-top: 80px;
    align-self: center;
  }
}

@media (max-width: 840px) {
  .services .title-section {
    font-size: 2em;
  }

  .services form {
    width: 50%;
  }
  
  .services .list-rooms .card {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .services .list-rooms .card {
    width: 320px;
  }

  .services form {
    width: 90%;
  }

  .services .list-rooms .card img {
    height: 200px;
  }
}